<section>
  <h2>Your Lists</h2>
  <div class="row" *ngFor="let n of noteList" style="width:250px;">
    <div (click)='goToViewList(n.ID,n.Desc)' style="padding-top: 10px; padding-left: 0px; width:120px; float:left">{{n.Desc}}</div>
    <div style=" padding-right: 0; width:90px; float:right;">
      <button style="float:right; width:28px; height: 28px;"  (click)="deleteNoteList(n.ID)" title="Delete">
          delete
      </button>
      <button style="float:right; width:28px; height: 28px; "  title="Share" (click)="goToAddMember(n.ID)">
        group_add
      </button>
      <button style="float:right; width:28px; height: 28px;"  title="See List" (click)='goToViewList(n.ID,n.Desc)'>
        list
      </button>
    </div>
  </div>
  <form (ngSubmit)="addNewList(f)" #f="ngForm">

    <h2>New List</h2>
    <div>
      <input type="text" matInput placeholder="Description" ngModel name="noteDesc" maxlength='25' required>
    </div>
    <div>
      <button type="submit" mat-button [disabled]="f.invalid">Create List</button>
    </div>


  </form>
</section>