<section>
  <form [formGroup]="resetPWForm" (ngSubmit)="onSubmit()" class="form-signin">
    <h2>Forgot your password?</h2>
    <p>We can send you a reset ink</p>

    <div class="form-label-group">
      <label for="email" class="sr-only">Email address</label>
      <input type="email" id="email" class="form-control" placeholder="Email address" formControlName="email">
      <div *ngIf="(Email.touched || userSubmitted) && (Email.invalid) " class="alert alert-danger">
        <div *ngIf="Email.errors.required">Email Required.</div>
        <div *ngIf="Email.errors.email">Email Invalid.</div>
      </div>
    </div>
    <div class="alert alert-danger" *ngIf="serverError">
      {{serverErrorMessage}}
    </div>
    <button *ngIf="!isLoading" type="submit" class="btn btn-lg btn-primary btn-block">Submit</button>
  </form>
</section>